################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Basket
/Basket/bin/Debug/netcoreapp2.1
/Basket/obj
/Basket.Tests/obj
/Basket.Tests/bin/Debug/netcoreapp2.1
/Common/obj
/Common/bin/Debug/netcoreapp2.1
